button {
  width: 200px;
  height: 60px;
  border: 2px solid black;
  font-size: 18px;
  color: white;
  margin-bottom: 10px;
}

.danger { background: red; }

#box {
  width: 850px;
  height: 476px;
  border: 2px solid black;
  transition: 500ms;
}
